<.header>
  Link <%= @link.hash %>
  <:subtitle>This is a link record from your database.</:subtitle>
</.header>

<.list>
  <:item title="URL"><%= @link.url %></:item>
  <:item title="Hash">
    <a href={Links.shortened_link(@link)} class="hover:text-zinc-700">
      <%= Links.shortened_link(@link) %>
    </a>
  </:item>
  <:item title="Visit Count"><%= @link.visits %></:item>
</.list>

<.back navigate={~p"/stats"}>Back to links</.back>
