
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome to Phoenix!</title>
  </head>
  <body>
    <main class="container">
      <section class="phx-hero">
        <p>
          <em>Server Error</em>
        </p>

        <p>
          <h1>
            <.link navigate={~p"/stats"}>
              Return to list
            </.link>
          </h1>
        </p>
      </section>
    </main>
  </body>
</html>
